APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost:8081

DB_HOST=db
DB_PORT=3306
WEB_PORT=8081
DB_NAME=decor_home
DB_USER=decor
DB_PASS=decor_secret
DB_ROOT_PASS=root_secret

TEST_DB_HOST=db_test
TEST_DB_NAME=decor_test
